name: infinity_world
description: "A new Flutter project."
publish_to: "none"
version: 0.1.0

environment:
    sdk: ^3.7.0

dependencies:
    flutter:
        sdk: flutter
    change_app_package_name: ^1.5.0
    flutter_dotenv: ^5.2.1
    get: ^4.7.2
    http: ^1.3.0

dev_dependencies:
    flutter_test:
        sdk: flutter
    flutter_lints: ^5.0.0

flutter:
    uses-material-design: true
    assets:
        - assets/images/
        - env/
